.active {
    position: fixed;
    left: 50%;
    transform: translateX(-50%);
    min-width: 18.75rem;
    z-index: 10;
}

.overlay {
    position:fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-color: rgba(#000,0.5);
    pointer-events: none;
}

.close-btn {
    position: fixed;
    right: 0rem;
    top: 0rem;
    border: none;
    outline: none;
    cursor: pointer;
    font-size: 2rem;
    background: none;
    color: white;
}