.card__image {
    height: auto;
    cursor: pointer;
    border-radius: 1rem;
    background-color: $accent-color;
    position: relative;
    @include transition;

    &::before {
        content: '';
        background-image: url(../img/icon-view.svg);
        height: 50px;
        width: 50px;
        position: absolute;
        left: calc(50% - 25px);
        top: calc(50% - 25px);
        opacity: 0;
    }

    &:hover {
        &::before {
            opacity: 1;
        }
    }
    &:hover &--img {
        opacity: 0.3;
    }
}




