@import './congif';
@import './card';
@import './image';
@import './active';

.text {
    font-size: 1.125rem;
}

.text-color {
    color:$text-color;
}

.text-white {
    color: $white;

    &:hover {
        color: $accent-color;
    }
}

.text-cyan {
    color: $accent-color;
}

.bold {
    font-weight: bold;
}

.link {
    text-decoration: none;
}

.image {
    width: 100%;
    vertical-align: top;
    border-radius: 0.75rem;
}

.footer {
    position: fixed;
    bottom: 1rem;
    left: 50%;
    transform: translateX(-50%);

    &__text {
        font-size: 1rem;
    }
}

